.member-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
}

@media (max-width: 768px) {
  .member-grid {
    grid-template-columns: repeat(1, 1fr);
  }

 
}

@media(max-width:480px){
   .member-card p {
    margin: 0;
    margin-top: 10px;
    background-color: #FFF3E3;
    font-size: 15px;
    padding: 15px;
    font-weight: 500;
    color: #000 !important; 
  }
}


.member-section {
  padding: 40px 20px;
  margin-bottom: 20px;
}

.member-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 0;
  margin-bottom: 20px;
  border: 2px solid #e08b0b;
  text-align: center;
}

.member-card img {
  width: 100%;
  height: auto;
  padding: 5px;
  border-radius: 4px;
}


.member-card p {
  margin: 0;
  margin-top: 10px;
  background-color: #FFF3E3;
  font-size: 15px;
  height: 70px;
  font-weight: 500;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
}

.member-title {
  font-weight: 700;
  color: #7B5825;
  position: relative;
  display: inline-block;
  padding-bottom: 5px;
  /* margin-right: 10px; */
}

.member-title::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  width: 100%;
  height: 3px;
  background-color: #7B5825;
  border-radius: 0 0 10px 10px;
}

@media(min-width:768px), (max-width:991px){
      .member-card p {
    margin: 0;
    margin-top: 10px;
    background-color: #FFF3E3;
    font-size: 17px;
    padding: 15px;
    font-weight: 500;
    color: #333 !important; 
  }
}