.events-section {
  background: #fff;
  padding: 50px 0;
}

.container {
  width: 90%;
  margin: auto;
}

.events-title {
  font-weight: 700;
  color: #7B5825;
  position: relative;
  display: inline-block;
  padding-bottom: 5px;
}
.events-title::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  width: 100%;
  height: 3px;
  background-color: #7B5825;
  border-radius: 0 0 10px 10px;
}

.events-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0 15px;
}

.view-btn {
  padding: 6px 15px;
  border: 1px solid #c59d5f;
  background: transparent;
  border-radius: 20px;
  color: #c59d5f;
  cursor: pointer;
}

.view-btn:hover {
  padding: 6px 15px;
  border: 1px solid #e28f11;
  background: transparent;
  border-radius: 20px;
  color: #e28f11;
  cursor: pointer;
}

.events-row {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.event-card { 

  background: linear-gradient(180deg, #f5eedd, #edc473);
  display: flex;
  padding: 15px;
  border-radius: 12px;
  border: 1px solid #f1b15c;
  width: 48%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border: 2px solid #edc473;
}

.event-card img {
  width: 148px;
  height: 145px;
  border-radius: 10px;
  object-fit: cover;
  margin-right: 15px;
  border: 2px solid #edc473;
}

@media (min-width: 992px) {
  .event-content {
    position: relative;
    top: 5px;
    text-align: center;
    letter-spacing: 1px;
  }
  .event-content-org {
    font-size: 10px;
    padding-top: 5px;
    font-weight: 600;
  }
  /* .event-btn {
  text-align: center;
} */
}

@media (max-width: 767px) {
  .event-card {
    width: 100%;
    justify-content: center;
    text-align: start;
  }
}

.event-content h3 {
  margin: 0;
  font-size: 18px;
}

.invite {
  font-weight: bold;
  margin: 5px 0;
  color: #7B5825;
}

.register-btn {
  margin-top: 8px;
  padding: 6px 12px;
  background: linear-gradient(90deg,#D6A84B, #F3D284);
  border: 1px solid black;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  /* font-size: 14px; */
  margin-left: 10px;
}

.completed-btn {
  margin-top: 8px;
  padding: 6px 20px;
  background: linear-gradient(90deg,#D9D9D9, #666464);
  border: 1px solid black;
  border-radius: 8px;
  font-weight: bold;
  cursor: not-allowed;
  margin-left: 10px;
}

.event-card h6 {
  margin-top: 10px;
}

.prof {
  font-size: 11px;
  font-weight: bold;
}
